// CMS VARIABLES

// Prefix for :root CSS variables
$prefix:                      cms-;

// Options
$enable-important-utilities:  false;

//
// Color system
//
// gray-color-variables
$white:    #fff;
$gray-600: #6c757d;
$black:    #000;

// color-variables

// theme-color-variables
$secondary: $gray-600;

//
// Components
//

// Navs
// nav-variables
$nav-pills-border-radius:     20rem;
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg:    $secondary;
