// CMS VARIABLES

// Prefix for :root CSS variables
$prefix:                      cms-;

// Options
$enable-rounded:              false;
$enable-important-utilities:  false;

//
// Color system
//
// gray-color-variables
$white:    #fff;
$gray-600: #6c757d;
$black:    #000;

// color-variables

// theme-color-variables
$secondary: $gray-600;

//
// Components
//

// Navbar
//
// navbar-variables
$navbar-padding-y:         .25rem;
$navbar-toggler-padding-y: .2rem;
$navbar-toggler-padding-x: .375rem;

// Navs
// nav-variables
$nav-pills-border-radius:     20rem;
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg:    $secondary;
